.history-entry {
  border-bottom: 1px dashed lightgray;
  padding: 1em 0;

  &:last-child {
    border-bottom: 0;
  }

  .date {
    font-size: 0.75em;
    line-height: 0.75em;
    color: gray;
    margin-bottom: 1em;
  }

  .description {

  }

  .action {
  }
}

.subtitle {
  margin: 0;
  padding: 0;
  color: gray;
}
